@import '../../styles/_breakpoints.scss';
@import '../../styles/_palette.scss';

.menu-item {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  height: 100px;
  line-height: 100px;

  &:hover {
    background-color: $secondary-color;
  }

  @media (max-width: $l) {
    $border-props: 1px #eee7e1 solid;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 10px;
    width: 100%;
    border-top: $border-props;

    &:last-child {
      border-bottom: $border-props;
    }
  }
}

.menu-item__text {
  display: block;
  height: 100%;
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
}
