.menu {
  list-style-type: none;
  height: 100%;
  margin-left: 35px;
}

.menu__item {
  display: inline-block;
  color: #FFF;
  cursor: pointer;
  height: 100%;
  line-height: 100px;
  padding: 0 15px;

  &:hover {
    background-color: rgb(21, 21, 30);
  }
}

.menu__item__text {
  display: block;
  height: 100%;
  color: #FFF;
  text-decoration: none;
}


