@import '../../styles/_breakpoints.scss';

.main-cards {
  position: relative;
  min-height: 200px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0 auto 30px auto;
  width: 90%;

  @media (max-width: $m) {
    grid-template-columns: auto auto;
  }

  @media (max-width: $xs) {
    grid-template-columns: auto;
  }
}
