@import '../../styles/_breakpoints.scss';
@import '../../styles/_palette.scss';

.driver-list-row {
  margin-bottom: 35px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  flex: 0 1 400px;
  height: 180px;
  border: 1px lighten($secondary-color, 50%) solid;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-columns: 178px 5px 1fr;
  color: $secondary-color;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {;
    background-color: darken($main-color, 5%);
    border-radius: 5px;
    color: #FFF;
  }
}

.driver-list-row__image {
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.driver-list-row__color {
  width: 5px;
  height: 100%;
}
