@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box;
}

.circuit {
  width: 80px;
}

.responsive-table {
  overflow-x: auto;
}

.table {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  border-collapse: collapse;
  background-color: #FFF;

  th {
    padding: 10px 0;
  }
}

.table__row {
  height: 50px;
  text-align: center;

  &:hover {
    background-color: #f7f4f1;
  }

  td {
    padding: 5px;
  }
}

.table__row--clickable {
  td {
    cursor: pointer;
  }
}

.page {
  min-height: calc(100vh - 180px);
  padding-bottom: 50px;
  background-color: #f7f4f1;

  @media (max-width: 992px) {
    min-height: calc(100vh - 180px - 14px);
  }
}

.content {
  margin-top: 100px;

  @media (max-width: 992px) {
    margin-top: 114px;
  }
}

.empty {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.title {
  text-align: center;
  border-color: gray;
  padding: 30px 0;
  font-size: 24px;
  text-transform: uppercase;
}

.title--main {
  border-color: black;
  font-weight: bold;
  padding-bottom: 0;
}

.standings {
  width: 90%;
  margin: 0 auto;
}

.container {
  padding-top: 70px;
}

.xs-hide {
  @media (max-width: 576px) {
    display: none;
  }
}

.m-hide {
  @media (max-width: 992px) {
    display: none;
  }
}

.l-hide {
  @media(max-width: 1200px) {
    display: none;
  }
}

.border-color-mercedes {
  border-color: #00D2BE;
}

.border-color-ferrari {
  border-color: #DC0000;
}

.border-color-red_bull {
  border-color: #1E41FF;
}

.border-color-renault {
  border-color: #FFF500;
}

.border-color-force_india {
  border-color: #F596C8;
}

.border-color-haas {
  border-color: #828282;
}

.border-color-toro_rosso {
  border-color: #469BFF;
}

.border-color-mclaren {
  border-color: #FF8700;
}

.border-color-sauber {
  border-color: #DC0000;
}

.border-color-williams {
  border-color: #FFF;
}

.background-color-mercedes {
  background-color: #00D2BE;
}

.background-color-ferrari {
  background-color: #DC0000;
}

.background-color-red_bull {
  background-color: #1E41FF;
}

.background-color-renault {
  background-color: #FFF500;
}

.background-color-force_india {
  background-color: #F596C8;
}

.background-color-haas {
  background-color: #828282;
}

.background-color-toro_rosso {
  background-color: #469BFF;
}

.background-color-mclaren {
  background-color: #FF8700;
}

.background-color-sauber {
  background-color: #DC0000;
}

.background-color-williams {
  background-color: #FFF;
}
