@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box;
}

.color-mercedes {
  color: #00D2BE;
}

.color-ferrari {
  color: #DC0000;
}

.color-red_bull {
  color: #1E41FF;
}

.color-renault {
  color: #FFF500;
}

.color-force_india {
  color: #F596C8;
}

.color-haas {
  color: #828282;
}

.color-toro_rosso {
  color: #469BFF;
}

.color-mclaren {
  color: #FF8700;
}

.color-sauber {
  color: #DC0000;
}

.color-williams {
  color: #FFF;
}

.background-color-mercedes {
  background-color: #00D2BE;
}

.background-color-ferrari {
  background-color: #DC0000;
}

.background-color-red_bull {
  background-color: #1E41FF;
}

.background-color-renault {
  background-color: #FFF500;
}

.background-color-force_india {
  background-color: #F596C8;
}

.background-color-haas {
  background-color: #828282;
}

.background-color-toro_rosso {
  background-color: #469BFF;
}

.background-color-mclaren {
  background-color: #FF8700;
}

.background-color-sauber {
  background-color: #DC0000;
}

.background-color-williams {
  background-color: #FFF;
}