@import '../../styles/_breakpoints.scss';

.teams {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: $m) {
    width: 100%;
  }
}
