.main-info {
  padding: 50px 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

.main-info__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.main-info__section__icon {
  width: 100%;
  font-size: 60px;
}

.main-info__section__title {
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: bold;
  margin: 30px 0;
}

.main-info__section__text {
  text-align: center;
}