.team {
  width: 90%;
  background-color: #FFF;
  margin: 0 auto 50px auto;
  display: grid;
  grid-template-columns: 1fr 5px 1fr;

  @media (max-width: 992px) {
    grid-template-columns: 100%;
  }
}

.team__info {
  padding: 35px;
}

.team__driver {
  display: flex;
  align-items: center;
}

.team__name {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.team__driver__name {
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
}

.team__color {
 @media (max-width: 992px) {
   height: 5px;
 }
}

.team__stats {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 30px 0;
  font-size: 20px;
}

.team__stats__title {
  font-weight: bold;
}

.team__image {
  display: flex;
  align-items: center;
  background-color: #f7f4f1;

  img {
    width: 100%;
  }
}