@import '../../styles/_breakpoints.scss';
@import '../../styles/_palette.scss';

.header {
  background-color: $main-color;
  width: 100%;
  padding: 0 10%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 99;
  align-items: center;

  @media (max-width: $l) {
    justify-content: center;
    padding: 0;
  }
}

.header__bars {
  color: #FFF;
  font-size: 38px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 101;


  @media (min-width: $l) {
    display: none;
  }
}

.header__logo {
  display: block;

  @media (max-width: $l) {
    flex-basis: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: center;
  }

  @media (max-width: $xs) {
    flex-basis: auto;
  }

  svg {
    z-index: 101;
    width: 136px;
    height: 34px;
    cursor: pointer;
  }
}
