.driver {
  background-color: #FFF;
  width: 90%;
  margin: 0 auto;
  padding: 25px;
  display: grid;
  grid-template-columns: 50% 45%;
  grid-column-gap: 5%;

  @media (max-width: 992px) {
    grid-template-columns: 100%;
  }
}

.driver__image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #000, #f7f4f1);
  border-radius: 5px;

  img {
    max-width: 512px;
    width: 100%;
  }
}

.driver__section {
  padding: 15px;
}

.driver__name {
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  margin-bottom: 15px;
}

.driver__info {
  display: grid;
  grid-template-columns: 60% 40%;
}

.driver__info__title {
  font-weight: 700;
}

.driver__info__title,
.driver__info__value {
  font-size: 24px;
  text-align: left;

  @media (max-width: 576px) {
    font-size: 16px;
  }
}