@import '../../styles/_palette.scss';
@import '../../styles/_breakpoints.scss';

.additional-menu {
  position: fixed;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  top: 100px;
  left: 0;
  width: 100%;
  line-height: 20px;
  z-index: 99;
  min-height: 400px;
  padding: 50px 5%;
  background-color: $secondary-color;
  color: #fff;
  cursor: default;

  @media (max-width: $l) {
    display: none;
  }
}
