.nav {
  background-color: rgb(225, 6, 0);
  height: 100px;
  padding: 0 10%;
  display: flex;
  align-items: center;
}

.nav__logo {
  width: 136px;
  height: 34px;
  cursor: pointer;
}

.menu {
  list-style-type: none;
  height: 100%;
  margin-left: 35px;
}

.menu__item {
  display: inline-block;
  color: #FFF;
  cursor: pointer;
  height: 100%;
  line-height: 100px;
  padding: 0 15px;

  &:hover {
    background-color: rgb(21, 21, 30);
  }

  &::after {
    display: inline-block;
    margin-top: 1px;
    right: 10px;
    content: "->";
  }
}

.menu__additional {
  position: fixed;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 400px;
  padding: 50px 5%;
  background-color: rgb(21, 21, 30);
  color: #FFF;
}

.menu__additional__driver {
  border: 1px #FFF solid;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.menu__additional__driver__lastname {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
}